certifi==2019.3.9
chardet==3.0.4
dj-database-url==0.5.0
Django==2.2.18
django-heroku==0.3.1
django-tracking2==0.5.0
geoip2==2.9.0
gunicorn==19.9.0
idna==2.8
maxminddb==1.4.1
psycopg2==2.8.2
psycopg2-binary==2.8.2
pytz==2019.1
requests==2.22.0
Shapely==1.6.4.post2
sqlparse==0.3.0
urllib3==1.25.2
whitenoise==4.1.2

